<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Optimal Planner</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

	<link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>

	<section id="header">
		<a href="#"><img src="static/images/logo1.png" class="logo" alt=""></a>

        <div>
			<ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a class="demo" href="demo.html">Request a demo</a></li>
                <div class="search-container">
                    <input type="search" placeholder="Search events">
                    <span>&#128269;</span>
                </div>

			</ul>
		</div>
    </section>

	<footer class="section-p1">
		<div class="col">
			<h4>Use Optimal Planner</h4>
			<a href="create.html">Create Event</a>
			<a class="demo" href="demo.html">Request a demo</a>
			<a href="contact.html">Contact Us</a>
			<a href="#">Help</a>
			<div class="follow">
				<h4>Follow Us</h4>
				<div class="icon">
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-x mark"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-youtube"></i>
				</div>
			</div>
		</div>
		<div class="col">
			<h4>About</h4>
			<a href="#">About Us</a>
			<a href="#">Privacy Policy</a>
			<a href="#">Terms & Conditions</a>
		</div>

		<div class="col install">
			<h4>Install App</h4>
			<p>From App Store or Google Play</p>
			<div class="row">
				<img src="static/images/applestore.png" alt="">
				<img src="static/images/googleplay.png" alt="">
			</div>
			<p>Secured Payment Gateways </p>
			<img src="static/images/Paygate.png" alt="">
		</div>
		<div class="copyright">
			<p>© 2024, Optimal planner</p>
		</div>
	</footer>
</body>
