<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Optimal Planner</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

	<link rel="stylesheet" href="static/styles/styles.css">
    <script src="static/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

	<section id="header">
		<a href="#"><img src="static/images/logo1.png" class="logo" alt=""></a>

        <div>
			<ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
			    <li><button class="leadbutton" onclick=aboutPage()>About Us</button></li>
			    <li><button class="leadbutton" onclick=contactPage()>Contact Us</button></li>
                <li><a class="demo" href="demo.html">Request a demo</a></li>
                <li><button class="loginbutton" onclick=loginPage()>Login</button></li>
                <li><a class="sign-up"  href="signup.html">Sign Up here</a></li>
                <div class="search-container">
                    <input type="search" placeholder="Search events">
                    <span>&#128269;</span>
                </div>

			</ul>
		</div>
    </section>

    <div class="moving-images">
        <img src="static/images/venue0.jpg" alt="venue0">
        <img src="static/images/venue1.jpeg" alt="venue1">
        <img src="static/images/venueA.jpg" alt="venueA">
        <img src="static/images/venueC.jpg" alt="venueC">
        <img src="static/images/venue6.jpg" alt="venue6">
        <img src="static/images/venue8.jpg" alt="venue8">
        <img src="static/images/venueB.jpg" alt="venueB">
    </div>

    <section id="budgets" class="section-p1">
        <div class="budget-box">
            <img src="static/images/budgets/guests.png" alt="">
            <h6>Number of guests</h6>
        </div>
        <div class="budget-box">
            <img src="static/images/budgets/catering.png" alt="">
            <h6>Catering services</h6>
        </div>
		<div class="budget-box">
			<img src="static/images/budgets/food.png" alt="">
			<h6>Food & Drink</h6>
		</div>
        <div class="budget-box">
            <img src="static/images/budgets/decorations.png" alt="">
            <h6>Decorations</h6>
        </div>
        <div class="budget-box">
            <img src="static/images/budgets/music.png" alt="">
            <h6>Musics</h6>
        </div>
        <div class="budget-box">
            <img src="static/images/budgets/makeup.png" alt="">
            <h6>Makeups</h6>
        </div>
        <div class="budget-box">
            <img src="static/images/budgets/dress.png" alt="">
            <h6>Dress code</h6>
        </div>
	</section>

    <section id="pastevents" class="sectionB">
		<h2>Optimal Planner, The Best Choice To Make</h2>
		<p>Magnificent Events Hosted Through Our Platform</p>
		<div class="pst-container">
            <div class="pst">
				<img src="static/images/pastevents/cocktail.jpg" alt="">
					<h5>Jaw-dropping cocktail party</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/convocation.jpeg" alt="">
					<h5>Amazing convocation ceremony</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/corporate.jpg" alt="">
					<h5>Stunning corporate event</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/festival.jpg" alt="">
					<h5>Astounding Festivals</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/ordination1.jpg" alt="">
					<h5>Remarkable ordination ceremony</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/sports.jpeg" alt="">
					<h5>Outstanding sport event</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/trad.jpeg" alt="">
					<h5>Superb traditional wedding</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/webinar.jpg" alt="">
					<h5>Impressive webinar meeting</h5>
            </div>
            <div class="pst">
				<img src="static/images/pastevents/wedding.jpeg" alt="">
					<h5>Exeptional wedding reception</h5>
            </div>
        </div>
	</section>

    <section id="product1" class="section-p1">
		<h2>Optimal planner developers</h2>
		<p>Optimal planner event planning application, a platform best for your special events</p>
		<div class="pro-container">
			<div class="pro">
				<img src="static/images/amarachi.jpeg" alt="">
				<div class="des">
					<h5>Uvere Amarachi</h5>
					<h4>Backend Developer</h4>
				</div>
			</div>
			<div class="pro">
				<img src="static/images/prudent.jpg" alt="">
				<div class="des">
					<h5>Scholastica Amarachi</h5>
					<h4>Frontend Developer</h4>
				</div>
			</div>
            <div class="pro">
				<img src="static/images/fortune.jpeg" alt="">
				<div class="des">
					<h5>Fortune Peter</h5>
					<h4>Backend Developer</h4>
				</div>
			</div>
            <div class="pro">
				<img src="static/images/bukola.jpeg" alt="">
				<div class="des">
					<h5>Bukola Egberongbe</h5>
					<h4>Frontend Developer</h4>
				</div>
			</div>
        </div>
    </section>

    <footer class="section-p1">
		<div class="col">
			<h4>Use Optimal Planner</h4>
			<a href="create.html">Create Event</a>
			<a class="demo" href="demo.html">Request a demo</a>
			<a href="contact.html">Contact Us</a>
			<a href="#">Help</a>
			<div class="follow">
				<h4>Follow Us</h4>
				<div class="icon">
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-x mark"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-youtube"></i>
				</div>
			</div>
		</div>
		<div class="col">
			<h4>About</h4>
			<button class="leadbutton" onclick=aboutPage()>About Us</button>
			<a href="#">Privacy Policy</a>
			<a href="#">Terms & Conditions</a>
		</div>

		<div class="col install">
			<h4>Install App</h4>
			<p>From App Store or Google Play</p>
			<div class="row">
				<img src="static/images/applestore.png" alt="">
				<img src="static/images/googleplay.png" alt="">
			</div>
			<p>Secured Payment Gateways </p>
			<img src="images/Paygate.png" alt="">
		</div>
		<div class="copyright">
			<p>© 2024, Optimal planner</p>
		</div>
	</footer>
</body>
