<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Optimal Planner</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

	<link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>

	<section id="header">
		<a href="#"><img src="static/images/logo1.png" class="logo" alt=""></a>

        <div>
			<ul id="navbar">
				<div>

					<li><a class="sign-up"  href="signup.html">Sign Up here</a></li>
				</div>
			</ul>
		</div>
    </section>

	<section id="form">
    <div class="login-container">
        <h1>Login</h1>
    <form id="loginuser">
        <input type="text" placeholder="Email or Username" name="username" required>
        <input type="password" placeholder="Password" name="password"required>
		<span class="remember-me-container">
		<input type="checkbox" id="remember-me" name="remember-me"><label for="remember-me">Remember me</label>
		</span>

        <button type="submit">Login</button>
		<a href="#" id="forgot-password">Forgot password?</a>
    </form>
    </div>
	</section>

    <footer class="section-p1">
		<div class="col">
			<h4>Use Optimal Planner</h4>
			<a href="create.html">Create Event</a>
			<a class="demo" href="demo.html">Request a demo</a>
			<a href="contact.html">Contact Us</a>
			<a href="#">Help</a>
			<div class="follow">
				<h4>Follow Us</h4>
				<div class="icon">
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-x mark"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-youtube"></i>
				</div>
			</div>
		</div>
		<div class="col">
			<h4>About</h4>
			<a href="#">About Us</a>
			<a href="#">Privacy Policy</a>
			<a href="#">Terms & Conditions</a>
		</div>

		<div class="col install">
			<h4>Install App</h4>
			<p>From App Store or Google Play</p>
			<div class="row">
				<img src="static/images/applestore.png" alt="">
				<img src="static/images/googleplay.png" alt="">
			</div>
			<p>Secured Payment Gateways </p>
			<img src="static/images/Paygate.png" alt="">
		</div>
		<div class="copyright">
			<p>© 2024, Optimal planner</p>
		</div>
	</footer>
</body>
